################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TfConsole/v16
/TfConsole/vcpkg_installed
/TfConsole/x64/Debug
